@model List<MHDecora.Site.Domain.Entities.Montagem>

@* <div class="container">
    <h2 class="mt-5 text-center">GALERIA</h2>    
    <div class="carousel mt-5">
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 1">
            <h5>Card 1</h5>
            <p>Descrição do Card 1.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 2">
            <h5>Card 2</h5>
            <p>Descrição do Card 2.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 3">
            <h5>Card 3</h5>
            <p>Descrição do Card 3.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 4">
            <h5>Card 4</h5>
            <p>Descrição do Card 4.</p>
        </div>

    </div>
    <div class="text-center">
        <button class="btn btn-primary mt-4">Solicite um orçamento</button>
    </div>
    
</div> *@

<!-- CSS do Owl Carousel -->




<style>
    /* Estilos adicionais para ajustar o layout do carrossel */
    

    .carrossel__titulo {
        color: var(--laranja-secundario);
        background-color: var(--branco-secundario);
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        padding: 1em 0 0.5em 0;
    }

    .swiper-slide img {
        width: 100%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .swiper-pagination {
        position: initial;
        margin: .5em 0;
    }

    .swiper-pagination {
        text-align: center; /* Centraliza as bolinhas de navegação */
        margin-top: 10px; /* Espaçamento superior opcional */
    }

        .swiper-pagination .swiper-pagination-bullet {
            width: 8px; /* Tamanho das bolinhas */
            height: 8px;
            background-color: #007bff; /* Cor das bolinhas */
            opacity: 0.5; /* Opacidade das bolinhas */
        }

        .swiper-pagination .swiper-pagination-bullet-active {
            opacity: 1; /* Opacidade da bolinha ativa */
        }

    /* Estilo para cada card */
    .card-galeria {
        border-radius: 15px;
        box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 270px; /* Largura do card */
        
        position: relative; /* Posição relativa para posicionar os elementos internos */
        height: 300px; /* Altura do card */

        margin-left: 6px;
        margin-right: 20px;
        /* padding-top: 6px; */
        margin-top: 6px;
    }

    /* Estilo para a imagem dentro do card */
    .card-image-galeria {
        height: 230px; /* Altura fixa para a imagem */
        overflow: hidden; /* Oculta qualquer conteúdo extra da imagem */
        border-radius: 15px 15px 0 0; /* Borda arredondada apenas na parte superior */
    }

        .card-image-galeria img {
            width: 100%; /* A largura da imagem é 100% do contêiner pai */
            height: 100%; /* A altura da imagem é 100% do contêiner pai */
            object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
            padding: 15px;
        }

    /* Estilo para o conteúdo de texto */
    .card-content-galeria {
        padding: 5px 15px 5px 15px;
        background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente para destacar o texto */
        border-radius: 0 0 15px 15px; /* Borda arredondada apenas na parte inferior */
        position: relative; /* Garante que o conteúdo de texto fique sobre a imagem */
        z-index: 2; /* Eleva o conteúdo acima da imagem */
    }

    /* Estilo para o título */
    .card-title-galeria {
        font-style: normal;
        font-display: swap;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    /* Estilo para a descrição */
    .card-description-galeria {
        font-size: 16px;
        color: #666;
    }
    </style>

<section class="carrosel">
    <h1 class="negrito" style="font-size: 2.5rem; text-align: center; margin-bottom: 20px; color: var(--color-primary);">GALERIA</h1>

    <!-- Slider main container -->
    <div class="swiper galeria">
        <!-- If we need pagination -->
        <div class="swiper-pagination" hidden="hidden"></div>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper tema">
            <!-- Slides -->
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        <div class="card-galeria">
                            <div class="card-image-galeria">
                                <img src="@item.CaminhoImagem" alt="Imagem do card">
                            </div>
                            <div class="card-content-galeria">
                                <div class="card-description-galeria">@item.Titulo</div>
                                <div class="card-title-galeria negrito">@item.Categoria.Nome</div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <a href="#contato" style="width:200px; margin-top:10px;" class="card-button">Solicite um orçamento</a>
</section>



<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper.galeria', {
        slidesPerView: 'auto', // Mostra quantos slides couberem na largura do container
        spaceBetween: 20, // Espaçamento entre os slides
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true, // Permitir clicar nas bolinhas para navegar
        },
        breakpoints: {
            // Celulares em modo retrato (até 479px)
            0: {
                slidesPerView: 1,
            },
            // Celulares em modo paisagem e tablets (480px - 767px)
            480: {
                slidesPerView: 2,
            },
            // Tablets e telas pequenas (768px - 991px)
            768: {
                slidesPerView: 3,
            },
            // Telas médias e desktops menores (992px - 1199px)
            992: {
                slidesPerView: 4,
            },
            // Desktops maiores (1200px - 1439px)
            1200: {
                slidesPerView: 4,
            },
            // Monitores grandes e telas extra largas (1440px e acima)
            1440: {
                slidesPerView: 4,
            },
        }
        
    });
</script>



