@* <div class="container">
    <h2 class="mt-5 text-center">GALERIA</h2>    
    <div class="carousel mt-5">
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 1">
            <h5>Card 1</h5>
            <p>Descrição do Card 1.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 2">
            <h5>Card 2</h5>
            <p>Descrição do Card 2.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 3">
            <h5>Card 3</h5>
            <p>Descrição do Card 3.</p>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/300" alt="Imagem 4">
            <h5>Card 4</h5>
            <p>Descrição do Card 4.</p>
        </div>

    </div>
    <div class="text-center">
        <button class="btn btn-primary mt-4">Solicite um orçamento</button>
    </div>
    
</div> *@

<section class="gallery-wrapper">
    <div class="gallery-title">
        <h1>Galeria</h1>
    </div>
    <div class="gallery-container">
        <div class="gallery">
            <div class="gallery-content">
                <img src="images/gallery/galeria.png" alt="" />

                
                <p>Mesa P</p>
                <h1>Harry Potter</h1>
            </div>
        </div>
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <div class="gallery">
                    <div class="gallery-content">
                        <img src="images/gallery/galeria.png" alt="" />

                        <p>Pegue e Monte</p>
                        <h1>Harry Potter</h1>
                    </div>
                </div>
            }
        }
    </div>
    <div class="slider-nava">
        <a class=""></a>
        <a></a>
        <a></a>
    </div>

    <a href="#contato" class="btn">Solicite um orçamento</a>
</section>