@using MHDecora.Site.Domain.Entities
@* @model MHDecora.Site.Domain.Entities.MidiaSocial *@

@{
    var midias = ViewData["MidiaSocial"] as MidiaSocial;
}

@if (midias != null)
{
    <div class="nav-social">
        <a href="@midias?.Instagram" target="_blank" class="nav-social-link">
            <img src="~/images/socialmidia/instagram.png" alt="Instagram Icon" style="width: 40px;" />
            @* <i class="fa-brands fa-instagram"></i> *@
        </a>
        <a href="@midias?.Facebook" target="_blank" class="nav-social-link">
            <img src="~/images/socialmidia/facebook.png" alt="Facebook Icon" style="width: 40px;" />
            @*  <i class="fa-brands fa-facebook"></i> *@
        </a>
        <a href="@midias?.WhatsApp" target="_blank" class="nav-social-link">
            <img src="~/images/socialmidia/whatts.png" alt="WhattsApp Icon" style="width: 40px;" />
            @* <i class="fa-brands fa-whatsapp"></i> *@
        </a>
    </div>
}