@* <div class="container">
    <h2 class="mt-5 text-center">Novidades</h2>
    <hr class="hr-custom mb-4">
    <div class="row img-container">
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 1">
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 2">
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 3">
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 4">
        </div>
    </div>
    <div class="row img-container">
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 5">
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 6">
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 7">
        </div>
        <div class="col-md-3">
            <img src="https://via.placeholder.com/300" alt="Imagem 8">
        </div>
    </div>
</div> *@

<section class="news-wrapper" id="novidades">
    <div class="news-title">
        <h1>Novidades</h1>
    </div>
    <div class="news-container">
        <div class="news">
            <img src="images/news/news1.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news2.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news3.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news4.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news5.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news6.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news7.jpg" alt="" />
        </div>
        <div class="news">
            <img src="images/news/news8.jpg" alt="" />
        </div>
    </div>
</section>