@model MHDecora.Site.Domain.Entities.Orcamento

@* <section class="contact-wrapper" id="contato">
    <div class="contact-form">
        <h1 class="heading">Orçamento</h1>

        <div class="contactForm">
            <form action="#">
                <div class="input-form">
                    <label for="">Nome:</label>
                    <input type="text"
                           class="input"
                           required
                           placeholder="Nome" />
                </div>

                <div class="input-form horizontal">
                    <div class="input-group">
                        <label for="">E-mail:</label>
                        <input type="text"
                               class="input"
                               placeholder="E-mail"
                               required />
                    </div>
                    <div class="input-group">
                        <label for="">Telefone:</label>
                        <input type="tel"
                               class="input"
                               placeholder="(99) 99999-9999"
                               required />
                    </div>
                </div>

                <div class="input-form"></div>

                <div class="input-form horizontal">
                    <div class="input-group">
                        <label for="">Data:</label>
                        <input type="text"
                               class="input"
                               placeholder="Data do evento" />
                    </div>
                    <div class="input-group checkbox-group">
                        <input type="checkbox" id="no-date" class="checkbox" />
                        <label for="no-date">Ainda não defini o dia</label>
                    </div>
                </div>

                <div class="input-form">
                    <p>Mais informações(Tema, Local do evento, Frete...)</p>
                    <textarea class="input"
                              cols="30"
                              rows="5"
                              placeholder="Sua mensagem..."
                              required></textarea>
                </div>

                <input type="submit" class="input submit" value="Enviar" />
            </form>
        </div>
    </div>
</section> *@
<section class="contact-wrapper" id="contato">
    <div class="contact-form">
        <h1 class="heading">Orçamento</h1>

        <div class="contactForm">
            <form asp-action="Orcamento" asp-controller="Home" method="post">
                <div class="input-form">
                    <label asp-for="Nome">Nome:</label>
                    <input asp-for="Nome" class="input" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="input-form horizontal">
                    <div class="input-group">
                        <label asp-for="Email">E-mail:</label>
                        <input asp-for="Email" class="input" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="Telefone">Telefone:</label>
                        <input asp-for="Telefone" class="input" placeholder="(99) 99999-9999" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>

                <div class="input-form horizontal">
                    <div class="input-group">
                        <label asp-for="Data">Data:</label>
                        <input asp-for="Data" class="input" placeholder="Data do evento" />
                    </div>
                    <div class="input-group checkbox-group">
                        <input asp-for="AindaNaoDefiniODia" type="checkbox" class="checkbox" />
                        <label asp-for="AindaNaoDefiniODia">Ainda não defini o dia</label>
                    </div>
                </div>

                <div class="input-form">
                    <p>Mais informações(Tema, Local do evento, Frete...)</p>
                    <textarea asp-for="MaisInformacoes" class="input" cols="30" rows="5" placeholder="Sua mensagem..."></textarea>
                    <span asp-validation-for="MaisInformacoes" class="text-danger"></span>
                </div>

                <input type="submit" class="input submit" value="Enviar" />
            </form>
        </div>
    </div>
</section>
