@using MHDecora.Site.Domain.Entities
@{
    var midias = ViewData["MidiaSocial"] as MidiaSocial;
}

<div class="footer-col">
    <ul>
        <li><a href="~/Home/Index">MH Decora</a></li>
        <li><a href="~/Home/#categorias">Montagens</a></li>
        <li><a href="~/Home/#novidades">Novidades</a></li>
        <li><a href="~/Home/#contato">Contato</a></li>
        <li><a href="~/Home/#contato">Orçamento</a></li>
    </ul>
</div>
<div class="footer-col">
    <ul id="dynamicLinks">
        <li><a href="#">Decorações</a></li>
        <li><a href="#">Pegue e monte</a></li>
        <li><a href="#">Mini table</a></li>
        <li><a href="#">Projetos personalizados</a></li>
    </ul>
</div>
<div class="footer-col autorais">
    <a href="/Home/Index">
        <img src="~/images/site/logo-rodape.svg" style="width:150px" alt="" />
    </a>
    <div class="links">Copyright © - Designed by Lush Eventos</div>
</div>
<div>
    <h4>MH Decora</h4>
    <div class="">
        <a href="@midias?.Instagram" target="_blank">
            <img src="~/images/site/insta-rodape.svg" alt="Instagram Icon" style="width: 40px;" />
        </a>
        <a href="@midias?.Facebook" target="_blank">
            <img src="~/images/site/face-rodape.svg" alt="Facebook Icon" style="width: 40px;" />
        </a>
    </div>
</div>




    <script>
        // JavaScript para exibir um alert ao carregar a página

        $(document).ready(function () {
           
            $.ajax({
                url: '@Url.Action("Rodape", "Home")',  // URL para a ação no backend que retorna os links
                type: 'GET',  // ou 'POST' dependendo da sua necessidade
                data: { /* Dados a enviar, se houver */ },
                success: function (result) {
                    // Manipular a resposta do backend
                    if (result && result.length > 0) {
                        var $ul = $('#dynamicLinks'); // Seleciona a ul onde os links serão inseridos
                        $ul.empty(); // Limpa os links existentes, se houver

                        // Itera sobre os links recebidos do backend
                        result.forEach(function (link) {
                            // Cria um novo elemento li com o link recebido
                            var $li = $('<li>');
                            var $a = $('<a>').attr('href', link.url).text(link.nome); // Ajustado para usar link diretamente
                            $li.append($a);
                            $ul.append($li);
                        });
                    } else {
                        console.log('Nenhum link recebido do backend.');
                    }
                }
            });
       });
    </script>

