@model SiteViewModel

@* @{
    string titulo = TempData["Titulo"] as string;
    string mensagem = TempData["Mensagem"] as string;
    string tipoAlerta = TempData["TipoAlerta"] as string;
}

@if (!string.IsNullOrEmpty(mensagem))
{
    <div id="autoCloseAlert" class="alert alert-@tipoAlerta alert-dismissible fade show" role="alert">
        <strong>@titulo</strong> @mensagem
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
} *@

<div id="msgAlert"></div>
<!-- Renderização da Partial View para o Banner -->
@await Html.PartialAsync("~/Views/Home/_Banner.cshtml", Model.Banners)
 
<!-- Renderização da Partial View para a Quem Somos -->
@await Html.PartialAsync("~/Views/Home/_QuemSomos.cshtml", Model.QuemSomos)

<!-- Renderização da Partial View para o Montagens -->
@* @await Html.PartialAsync("~/Views/Home/_Montagens.cshtml", Model.Montagens) *@

<!-- Renderização da Partial View para a Categorias -->
@await Html.PartialAsync("~/Views/Home/_Categorias.cshtml", Model.Categorias)

<!-- Renderização da Partial View para o Temas -->
@await Html.PartialAsync("~/Views/Home/_Temas.cshtml", Model.Temas)

<!-- Renderização da Partial View para a Galeria de Destaques -->
@await Html.PartialAsync("~/Views/Home/_GaleriaDestaques.cshtml", Model.Galerias)

<!-- Renderização da Partial View para o Novidades -->
@await Html.PartialAsync("~/Views/Home/_Novidades.cshtml")

<!-- Renderização da Partial View para a Contato -->
@await Html.PartialAsync("~/Views/Home/_Contato.cshtml", Model.Contato)

<!-- Renderização da Partial View para o Orçamento -->
@await Html.PartialAsync("~/Views/Home/_Orcamento.cshtml", Model.Orcamento)

@* <script src="~/js/site.js"></script> *@

