@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema de administração MH Decora.</h1>
    <p><a href="https://www.mhdecora.com.br"> MH Decora</a>.</p>
</div>
