@model MHDecora.Admin.Domain.Entities.MidiaSocial

@{
    ViewBag.Title = "Adicionar Banner";
    string titulo = TempData["Titulo"] as string;
    string mensagem = TempData["Mensagem"] as string;
    string tipoAlerta = TempData["TipoAlerta"] as string;
}

@if (!string.IsNullOrEmpty(mensagem))
{
    <div id="autoCloseAlert" class="alert alert-@tipoAlerta alert-dismissible fade show" role="alert">
        <strong>@titulo</strong> @mensagem
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
}

<div id="msgAlert"></div>

<div class="row">

    <div class="col-xl-12">
        <!-- Basic Examples -->
        <div class="card card-default">
            <div class="card-header">
                <h2>Adicionar Mídias Sociais</h2>
            </div>
            <div class="card-body">

                @using (Html.BeginForm("Adicionar", "MidiaSocial", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAdicionar" }))
                {
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Instagram</label>
                                <input name="instagram" class="form-control" placeholder="Instagram" id="instagram">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Facebook</label>
                                <input name="facebook" class="form-control" placeholder="Facebook" id="facebook">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">WhatsApp</label>
                                <input name="whatsApp" class="form-control" placeholder="WhatsApp" id="whatsApp">
                            </div>
                        </div>                       
                    </div>
                   
                    <div class="form-footer pt-5 border-top d-flex justify-content-between">
                        <a href="@Url.Action("Index", "MidiaSocial")" class="btn btn-primary text-left">
                            <i class="mdi mdi-undo mr-1"></i> Voltar
                        </a>
                        <div>
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <button type="button" class="btn btn-light ml-2" onclick="cancelar()">Cancelar</button>
                        </div>
                    </div>
                }

            </div>
        </div>


    </div>

</div>
@section Scripts {
    <script>


        $(document).ready(function () {
            $('#formAdicionar').submit(function (e) {
                e.preventDefault(); // Evita o envio padrão do formulário

                var descricao = $("#instagram").val();
                var facebook = $("#facebook").val();
                var whatsApp = $("#whatsApp").val();

                if (descricao == "" || facebook == "" || whatsApp == "") {
                    Alert("Atenção!", "Verifique os campos se estão preenchidos.", "warning");
                    return;
                }

                // Se todos os campos estiverem preenchidos, envie o formulário
                this.submit(); // Aqui corrigimos para enviar o formulário corretamente
            });
        });

        // Função para exibir a visualização da imagem quando um arquivo é selecionado
        function cancelar() {
            $("#instagram").val("");
            $("#facebook").val("");
            $("#whatsApp").val("");
        }       
    </script>

}