html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.banner-thumbnail {
    width: 100px; /* Defina a largura desejada para a miniatura */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 10px; /* Adiciona uma margem na parte inferior da miniatura */
    border: 1px solid #ccc; /* Adiciona uma borda sólida com cor cinza */
    border-radius: 5px; /* Adiciona uma borda arredondada */
}

