@model MHDecora.Admin.Domain.Entities.Contato

<div class="row">
    <div class="col-xl-12">
        <!-- Basic Examples -->
        <div class="card card-default">
            <div class="card-header">
                <h2>Adicionar Contato</h2>
            </div>
            <div class="card-body">

                <form id="formAdicionar" asp-action="Adicionar" method="post">
                    <div class="row">                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fname">Endereço</label>
                                <input name="endereco" id="endereco" class="form-control" placeholder="Digite o endereço">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fname">Link do Endereço Google Maps</label>
                                <input name="horarioAtendimento" id="horarioAtendimento" class="form-control" placeholder="Digite o horario de atendimento">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Horario de Atendimento</label>
                                <input name="horarioAtendimento" id="horarioAtendimento" class="form-control" placeholder="Digite o horario de atendimento">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Celular</label>
                                <input name="celular" id="celular" class="form-control" placeholder="Digite o celular">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="fname">Telefone</label>
                                <input name="telefone" id="telefone" class="form-control" placeholder="Digite o telefone">
                            </div>
                        </div>
                    </div>
                    <div class="form-footer pt-5 border-top d-flex justify-content-between">
                        <a href="@Url.Action("Index", "Contato")" class="btn btn-primary text-left">
                            <i class="mdi mdi-undo mr-1"></i> Voltar
                        </a>
                        <div>
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <button type="button" class="btn btn-light ml-2" onclick="cancelar()">Cancelar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function cancelar() {
            $("#endereco").val("");
            $("#horarioAtendimento").val("");
            $("#celular").val("");
            $("#telefone").val("");
        }
    </script>
}