<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decora</title>

    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-logo">
                <img src="~/images/site/logo-topo.png" style="width: 100px;" />
            </div>

            <div class="menu-icon" id="menu"><span class="fas fa-bars"></span></div>

            <div class="nav-items">
                <li class="nav-links">
                    <a href="#home" class="active">MH Decora</a>
                </li>
                <li class="nav-links"><a href="#montagens">Montagens</a></li>
                <li class="nav-links"><a href="#novidades">Novidades</a></li>
                <li class="nav-links"><a href="#contato">Contato</a></li>
                <li class="nav-links"><a href="#contato">Orçamento</a></li>
            </div>

            <form action="" class="nav-search">
                <input type="text"
                       class="nav-search-data"
                       required
                       placeholder="O que você procura..." />
                <button class="fas fa-search nav-search-button"></button>
            </form>

            <div class="nav-social">
                <a href="" class="nav-social-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="" class="nav-social-link">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="" class="nav-social-link">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
        
    </main>

    <footer>
        <div class="footer-col">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#home">Decora</a></li>
                <li><a href="#novidades">Cerimonial</a></li>
                <li><a href="#novidades">Novidades</a></li>
                <li><a href="#contato">Orçamento</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="pages/decoracoes.html">Decorações</a></li>
                <li><a href="pages/pegue-e-monte.html">Pegue e monte</a></li>
                <li><a href="pages/mini-table.html">Mini table</a></li>
                <li>
                    <a href="pages/projetos-personalizados.html">Projetos personalizados</a>
                </li>
            </ul>
        </div>

        <div class="footer-col autorais">
            <img src="~/images/site/logo-rodape.svg" style="width:150px" alt="" />

            <div class="links">Direitos Autorais</div>
        </div>

        <div class="footer-col">
            <h4>Redes Socials</h4>
            <div class="links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/js/swiper.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://kit.fontawesome.com/77ebc8126c.js" crossorigin="anonymous"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slides = document.querySelectorAll(".slider-box");
            const sliderNav = document.querySelectorAll(".slider-nav-link");

            sliderNav.forEach((link) => {
                link.addEventListener("click", () => {
                    const index = link.getAttribute("data-index");

                    slides.forEach((slide, i) => {
                        if (i == index) {
                            slide.classList.add("active", "show");
                        } else {
                            slide.classList.remove("active", "show");
                        }
                    });

                    sliderNav.forEach((nav) => {
                        nav.classList.remove("active");
                    });

                    link.classList.add("active");
                });
            });
        });
    </script>
</body>
</html>
