<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decora</title>

    <link rel="stylesheet" href="~/css/detail.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


    <link rel="stylesheet" href="~/css/OwlCarousel.css">



</head>

<body>
    <header>
        <nav class="nav">
            <div class="nav-logo">
                <a href="/Home/Index">
                    <img src="~/images/site/logo-topo.png" style="width: 100px;" />
                </a>
            </div>

            <div class="menu-icon" id="menu"><span class="fas fa-bars"></span></div>

            <div class="nav-items">
                <li class="nav-links"><a href="~/Home/#quemsomos" class="active">MH Decora</a></li>
                <li class="nav-links"><a href="~/Home/#montagens">Montagens</a></li>
                <li class="nav-links"><a href="~/Home/#novidades">Novidades</a></li>
                <li class="nav-links"><a href="~/Home/#contato">Contato</a></li>
                <li class="nav-links"><a href="~/Home/#contato">Orçamento</a></li>
            </div>

            <form asp-controller="Home" asp-action="Pesquisa" method="get" class="nav-search">
                <input type="text" id="texto" name="texto"
                       class="nav-search-data"
                       required
                       placeholder="O que você procura..." />
                <button type="submit" class="fas fa-search nav-search-button"></button>
            </form>

            <!-- Renderização da Partial View para as Midias Sociais -->
            @await Html.PartialAsync("~/Views/Home/_MidiaSocial.cshtml")
        </nav>
    </header>

    <main>
        @RenderBody()        
    </main>

    <footer>
        @await Html.PartialAsync("~/Views/Home/_Rodape.cshtml")       
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/swiper.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://kit.fontawesome.com/77ebc8126c.js" crossorigin="anonymous"></script>
   

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const slides = document.querySelectorAll(".slider-box");
            const sliderNav = document.querySelectorAll(".slider-nav-link");

            sliderNav.forEach((link) => {
                link.addEventListener("click", () => {
                    const index = link.getAttribute("data-index");

                    slides.forEach((slide, i) => {
                        if (i == index) {
                            slide.classList.add("active", "show");
                        } else {
                            slide.classList.remove("active", "show");
                        }
                    });

                    sliderNav.forEach((nav) => {
                        nav.classList.remove("active");
                    });

                    link.classList.add("active");
                });
            });
        });


        // Lógica para adicionar classe 'active' ao link conforme a navegação
        $(window).on('scroll', function () {
            var scrollPos = $(document).scrollTop();
            $('.section').each(function () {
                var top = $(this).offset().top - 200;
                var bottom = top + $(this).outerHeight();
                if (scrollPos >= top && scrollPos <= bottom) {
                    $('.nav-links a').removeClass('active');
                    var id = $(this).attr('id');
                    $('.nav-links a[href="#' + id + '"]').addClass('active');
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
